<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="menu">
            <%= link_to "Dashboard", divers_dives_path(@user) %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <div id="main">
            <h2>Marine Animals!</h2>

            <ol>
                <% @marineanimals.each do |animal| %>
                    <ul><b><%= link_to animal.name, marineanimal_path(animal) %></b>
                    </ul>
                <% end %>
            </ol>

            <div class="button"><%= link_to "Add New Animal", new_marineanimal_path%></div>
        </div>
    </body>
</html>
