<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="menu">
            <%= link_to "Dashboard", divers_dives_path(@user) %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <div id="main">
            <h3>Add Marine Animal </h3>
            <div class="form">
                <%=render 'form'%>
            </div>
        </div>
    </body>
</html>