<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
      <body>
        <div class="content">
        <!-- top-bar start -->
        <header>
            <strong>Dive Slate</strong>
            <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
            </div>
          </header>
        <!-- top-bar end -->
            <div id="login" class="form">
              <h3>Add Marine Animal </h3>
                <%=render 'form'%>
            </div>
        </div>
    </body>
</html>
