<%= form_for @dive do |f| %>
    <%= hidden_field_tag "dive[user_id]", "#{@user.id}" %>

    <label>Dive Site (required)</label>
    <%= f.collection_select :divesite_id, Divesite.all, :id, :name, include_blank: true %>
    <br>

    <label>Dive Shop</label>
    <%= f.collection_select :diveshop_id, Diveshop.all, :id, :name, include_blank: true %>
    <br>

    <label>Date/Time</label>
    <%= f.datetime_select(:date, use_short_month: true, selected: Date.today, include_blank: true, start_year: Date.today.year-10, end_year: Date.today.year, minute_step: 5) %>
    <br>

    <h3>Technical Specs</h3>

    <label>Water Temperature</label>
    <%= f.number_field :water_T, class: 'inputfield' %>

    <br>

    <label>Air Temperature</label>
    <%= f.number_field :air_T, class: 'inputfield' %>

    <br>

    <label>Depth (m)</label>
    <%= f.number_field :depth, class: 'inputfield' %>

    <br><br>

    <h3>Select Equipment Used</h3>

    <%= f.collection_check_boxes(:equipment_ids, Equipment.all, :id, :name) do |b| %>
        <%= b.check_box + b.text.titleize %><br>
    <% end %>

    <br><br>

    <h3>Marine Life</h3>

    <%= f.collection_check_boxes(:marineanimal_ids, Marineanimal.all, :id, :name) do |b| %>
        <%= b.check_box + b.text.titleize %><br>
    <% end %>
    <br><br>

    <h3>Notes/Highlights:</h3>
    <%= f.text_area :description , class: 'inputfield', size: "40x10"%>

    <br><br>

    <%= f.submit "Log Dive", {:class => "button"}  %>
<% end %>

<div class="error" style="color:red">
    <% if flash[:error] %>
    <p>Dive Site and Dive Shop are required.</p>
    <% end %>
</div>