<%= form_for @dive do |f| %>
    <%= hidden_field_tag "dive[user_id]", "#{@user.id}" %>

    <label>Dive Shop</label>
    <%= f.collection_select :diveshop_id, Diveshop.all, :id, :name %>

    <br>

    <label>Dive Site</label>
    <%= f.collection_select :divesite_id, Divesite.all, :id, :name %>

    <br>

    <label>Date</label>
    <%= f.date_select :date%>

    <br>

    <label>Time</label>
    <%= f.time_select :time%>

    <br>

    <h3>Technical Specs</h3>

    <label>Water Temperature</label>
    <%= f.number_field :water_T%>

    <br>

    <label>Air Temperature</label>
    <%= f.number_field :air_T%>

    <br>

    <label>Depth (m)</label>
    <%= f.number_field :depth%>

    <br>

    <label>Notes/Description</label>
    <%= f.text_area :description %>

    <br><br>

    <h3>Select Equipment Used</h3>

    <%= f.collection_check_boxes(:equipment_ids, Equipment.all, :id, :name)%><br><br>

    <h3>See any marine animals?</h3>

    <%= f.collection_check_boxes(:marineanimal_ids, Marineanimal.all, :id, :name)%><br><br>

    <%= f.submit %>
<% end %>
