<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head id='scrollbar'>
        <title>Dive Slate</title>
    </head>
  <body>
      <div class="content">
        <!-- top-bar start -->
        <header>
            <h1>Dive Slate</h1>

           <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path, {class: "button"} %>
            <%= link_to @user.username, user_path(@user), {class: "button"}  %>
            <label class="button"><%= link_to "Logout", logout_path, method: :delete %></label>
           </div>
        </header>

        <!-- top-bar end -->
    <!-- main area start, shows current user's dives -->
        <div id="main">
            <div class="rightalign">
                <%= link_to "Log a New Dive", new_dive_path, {class: "button"} %>
                <label id="totaldives">Dive Total: <%= @user.total_dives %></label>
            </div>

            
            <h2>Dive Log</h2>
                <ul>
                <% @dives.each do |dive| %>
                    <li>
                        <b><%= link_to dive.divesite.name, dive_path(dive) %></b>
                        <p><%=dive.description %></p>
                    </li>
                <% end %>
                </ul>


        </div>
        <!-- main ends -->
    <!-- explore side bar start -->
        <div id="sideexplore">
              <div id="topdivesites">
                <div class="center"><h2>Popular Sites</h2></div>
                <ol>
                <% for i in 0..4 %>
                    <li><%= link_to @top_divesites[i].name, divesite_path(@top_divesites[i]) %></li>
                    <% end %>
                </ol>
              </div>

              <div id="topdivers">
                  <div class="center"><h2>Diviest Divers</h2></div>
                  <ol>
                  <% for i in 0..2 %>
                      <li><%= @top_divers[i].username %> with <%=@top_divers[i].total_dives%> Dives</li>
                    <% end %>
                </ol>
              </div>

              <div id="marineanimals">
                  <h4><%= link_to "Explore Marine Life", marineanimals_path, {:class => "button"}%></h4>
              </div>
        </div>
      </div>
  </body>
</html>
