<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head id='scrollbar'>
        <title>Dive Slate</title>
    </head>
  <body>
      <div class="content">
        <!-- top-bar start -->
        <header>
            <h1>Dive Slate</h1>

           <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path, {class: "button"} %>
            <%= link_to @user.username, user_path(@user), {class: "button"}  %>
            <label class="button"><%= link_to "Logout", logout_path, method: :delete %></label>
           </div>
        </header>

        <!-- top-bar end -->
    <!-- main area start, shows current user's dives -->
        <div id="main">
            <div class="center">
                <h2>Dive Log</h2>
                <label id="totaldives"><%= @user.total_dives %>  Dives</label>
                <%= link_to "Log a New Dive", new_dive_path, {class: "logbutton"} %>
            </div>

            
            
                <ul>
                <% @dives.each do |dive| %>
                    <li id="list-entry">
                        <%= link_to dive.divesite.name, dive_path(dive) %><br><b><%= dive.description %></b>
                    </li>
                <% end %>
                </ul>


        </div>
        <!-- main ends -->
    <!-- explore side bar start -->
        <div id="sideexplore">
              <div id="topdivesites">
                <div class="center"><h2>Popular Sites</h2></div>
                <ul>
                <% for i in 0..2 %>
                    <li id="list-entry"><%= link_to @top_divesites[i].name, divesite_path(@top_divesites[i]) %><br><%=@top_divesites[i].description %></li>
                    <% end %>
                </ul>
              </div>

              <div id="topdivers">
                  <div class="center"><h2>Diviest Divers</h2></div>
                  <ul>
                  <% for i in 0..2 %>
                      <li id="list-entry"><b id="divers"><%= @top_divers[i].username %>: <%=@top_divers[i].total_dives%> Dives</b></li>
                    <% end %>
                </ul>
              </div>

              <div id="marineanimals">
                    <div class="center"><h2>Marine Life</h2><br>
                        <%= link_to "Explore Marine Life", marineanimals_path, {:class => "button"}%>
                    </div>
              </div>
        </div>
      </div>
  </body>
</html>
