<h2><%=@user.username%>'s Dives</h2>
<%= button_to "Log a New Dive", dives_path%>

<ol>
    <% @user.dives.each do |dive| %>
        <li><b><%= link_to dive.divesite.name, show_dive_path(dive) %>: </b>
            <%=dive.description%>
        </li>
    <% end %>
</ol>

<%= button_to "View my profile", user_path(@user)%>


<%= button_to "Logout", logout_path, method: :delete %>