<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>
  
    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path %>
            <%= link_to @dive.user.username, user_path(@dive.user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <!-- main area start -->
        <div id="main">
          <h2>Dive Site: <%= link_to @dive.divesite.name, divesite_path(@dive.divesite) %></h2>

          <label>Dive Shop: </label>
          <%= link_to @dive.diveshop.name, diveshop_path(@dive.diveshop) %>
          <br>

          <label>Date: </label>
          <%= @dive.date %>
          <br>

          <label>Time: </label>
          <%= @dive.time%>
          <br>

          <label>Water Temperature: </label>
          <%= @dive.water_T%>
          <br>

          <label>Air Temperature: </label>
          <%= @dive.air_T%>
          <br>

          <label>Depth (m): </label>
          <%= @dive.depth%>
          <br>

          <label>Notes/Description: </label>
          <%= @dive.description %>
          <br>
          <br>
          
          <h3>Dive Equipment Used</h3>
          <ul>
            <% @dive.equipment.each do |equipment| %>
              <li><%= equipment.name.capitalize %></li>
            <% end %>
          </ul>

            <h3>Marine Life Seen:</h3>
            <ul>
                <%@dive.marineanimals.each do |animal|%>
                  <li><%= link_to animal.name, marineanimal_path(animal)%></li>
                <% end %>
            </ul>

          <div class="button">
              <%= link_to "Edit Dive", edit_dive_path(@dive) %> <br>
          </div>
          <div class="button">
              <%= link_to "Delete Dive", delete_dive_path(@dive), method: :delete %> <br>
          </div>
          <div class="button">
              <%= link_to "Show all my dives", dives_path%><br>
          </div>
    </div>
  </body>
</html>