<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>
  
    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="topbarmenu">
            <%= link_to "Go to My Dives Dashboard", divers_dives_path(@dive.user) %>
            <%= link_to @dive.user.username, user_path(@dive.user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <!-- main area start -->
        <div id="main">
          <h2>Dive Site: <%= link_to @dive.divesite.name, divesite_path(@dive.divesite) %></h2>

          <label>Dive Shop: </label>
          <%= link_to @dive.diveshop.name, diveshop_path(@dive.diveshop) %>
          <br>

          <label>Date: </label>
          <%= @dive.date %>
          <br>

          <label>Time: </label>
          <%= @dive.time%>
          <br>

          <label>Water Temperature: </label>
          <%= @dive.water_T%>
          <br>

          <label>Air Temperature: </label>
          <%= @dive.air_T%>
          <br>

          <label>Depth (m): </label>
          <%= @dive.depth%>
          <br>

          <label>Notes/Description: </label>
          <%= @dive.description %>
          <br>
          <br>
          
          <h3>Dive Equipment Used</h3>

          <%@dive.equipment.each do |equipment|%>
          <%=equipment.name.capitalize%>
          <%end%>

            <BR><BR>

            <h3>Marine Life Seen:</h3>
            <%@dive.marineanimals.each do |animal|%>
            <%= link_to animal.name, marineanimal_path(animal)%><br>
            <% end %>

          <div class="button">
              <%= link_to "Delete this dive", delete_dive_path(@dive), method: :delete %> <br>
        <%= link_to "Show all my dives", divers_dives_path(@dive.user)%><br>
          </div>
    </div>
  </body>
</html>