
 <h2>Showing a Specific Dive</h2>
    <label>Dive Shop</label>
    <%= @dive.diveshop.name %>

    <br>

    <label>Dive Site</label>
    <%= @dive.divesite.name %>

    <br>

    <label>Date</label>
    <%= @dive.date %>

    <br>

    <label>Time</label>
    <%= @dive.time%>

    <br>

    <label>Water Temperature</label>
    <%= @dive.water_T%>

    <br>

    <label>Air Temperature</label>
    <%= @dive.air_T%>

    <br>

    <label>Depth (m)</label>
    <%= @dive.depth%>

    <br>

    <label>Notes/Description</label>
    <%= @dive.description %>

    <br>


