
    <h2>Dive Site: </h2>
    <%= @dive.divesite.name %>

    <label>Dive Shop: </label>
    <%= @dive.diveshop.name %>

    <br>
    <br>

    <label>Date: </label>
    <%= @dive.date %>
    <br>

    <label>Time: </label>
    <%= @dive.time%>
    <br>

    <label>Water Temperature: </label>
    <%= @dive.water_T%>
    <br>

    <label>Air Temperature: </label>
    <%= @dive.air_T%>
    <br>

    <label>Depth (m): </label>
    <%= @dive.depth%>
    <br>

    <label>Notes/Description: </label>
    <%= @dive.description %>
    <br>
    <br>


    <%@dive.equipment.each do |equipment|%>
    <%=equipment.name.capitalize%>
    <%end%>
    <br>
    <br>

<%= link_to "Delete this dive", delete_dive_path(@dive), method: :delete %> <br>
<br>
<%= link_to "Show all my dives", divers_dives_path(@dive.user)%><br>
<%= link_to "View my profile", user_path(@dive.user)%><br>
<br><br>

<%= link_to "Logout", logout_path, method: :delete %>

