
    <h2>Dive Site: </h2>
    <%= @dive.divesite.name %>
      <br>
      <br>
    <label>Dive Shop: </label>
    <%= link_to @dive.diveshop.name, diveshop_path(@dive.diveshop) %>
    <br>

    <label>Date: </label>
    <%= @dive.date %>
    <br>

    <label>Time: </label>
    <%= @dive.time%>
    <br>

    <label>Water Temperature: </label>
    <%= @dive.water_T%>
    <br>

    <label>Air Temperature: </label>
    <%= @dive.air_T%>
    <br>

    <label>Depth (m): </label>
    <%= @dive.depth%>
    <br>

    <label>Notes/Description: </label>
    <%= @dive.description %>
    <br>
    <br>


    <%@dive.equipment.each do |equipment|%>
    <%=equipment.name.capitalize%>
    <%end%>
    <br>
    <br>

<%= button_to "Delete this dive", delete_dive_path(@dive), method: :delete %> <br>
<br>
<%= button_to "Show all my dives", divers_dives_path(@dive.user)%><br>
<%= button_to "View my profile", user_path(@dive.user)%><br>
<br><br>

<%= button_to "Logout", logout_path, method: :delete %>

