<%= form_for @user do |f| %>
  <p class="form">Username: <%= f.text_field :username, class: 'inputfield' %></p>
  
  <p class="form">Name: <%= f.text_field :name, class: 'inputfield' %></p>
  
  <p class="form">Highest Certification: <%= f.select :certification, [
    "OPEN WATER",
    "ADVANCED OPEN WATER",
    "NITROX",
    "RESCUE",
    "DIVE MASTER",
    "DIVE INSTRUCTOR"], {class: "form-control"} %></p>
  
  <p class="form">Age: <%= f.number_field :age, class: 'inputfield' %></p>
  
  <p class="form">Country: <%= f.text_field :country, class: 'inputfield'   %></p>
  
  <p class="form">Total Dives: <%= f.number_field :total_dives, class: 'inputfield'   %></p>
  
  <%= f.submit "Update Profile", {:class => "button"} %>
<% end %>
