<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="topbarmenu">
            <%= link_to "Dashboard", divers_dives_path(@user) %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <!-- main area start -->
        <div id="main">
            <h2> 🐠 Dive Slate - All Users 🐠</h2>
            <ul>
                <% @users.each do |user|%>
                    <li><%= link_to user.username, user %></li><br>
                <%end%>
            </ul>
        </div>
    </body>
</html>

