<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>
    <body>
        <div id="login" class="form">
            <div class="bordered"><h1>Dive Slate</h1></div>

        <h2>🐠<br>Create an Account</h2>

            <%= form_for @user do |f| %>

                <%= f.label "Username:" %>
                <%= f.text_field :username, class: 'inputfield' %> 
                
                <br><br>

                <%= f.label "Password:" %>
                <%= f.password_field :password, class: 'inputfield'  %>
                    
                <br><br>

                <%= f.label "Password:" %>
                <%= f.password_field :password_confirmation, class: 'inputfield'  %>

                <br><br>

                <%= f.submit "Sign Up", {:class => "button"}%>
                
            <% end %>
                <%= link_to "Go back to Log In", login_path, {:class => "button"} %>
        </div>

        <div class="error" style="color:red">
            <ul>
                <% if flash[:username_error] %>
                    <li>Username already exists!</li>
                <% end %>
                <% if flash[:password_error] %>
                    <li>Passwords do not match!</li>
                <% end %>
            </ul>
        </div>
    </body>
</html>