<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="topbarmenu">
            <%= link_to "Go to My Dives Dashboard", divers_dives_path(@user) %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <!-- main area start -->
        <div id="main">
            <h2><%= @divesite.name %></h2>
            <h4>Latitude: <%= @divesite.latitude %></h4>
            <h4>Longitude: <%= @divesite.longitude %></h4>

            <h4>Number of Dives Completed Here: <%= @divesite.dives.count %></h4>

            <div class="button">
                <%= link_to "See all Divesites", divesites_path %> 
            </div>
        </div>
    </body>
</html>