<h2><%= @divesite.name %></h2>
<h4>Latitude: <%= @divesite.latitude %></h4>
<h4>Longitude: <%= @divesite.longitude %></h4>

<h4>Number of Dives Completed Here: <%= @divesite.dives.count %></h4>

<%= link_to "See all Divesites", divesites_path %> <br>
<%= link_to "Logout", logout_path, method: :delete %>