<h2>Welcome! Please Log In</h2>

<%=form_for(:auth, url: login_path) do |f| %>
    <%=f.label :username %>
    <%=f.text_field :username %>

    <br> 

    <%=f.label :password %>
    <%=f.password_field :password %>

    <br><br>

    <%=f.submit "Login"%>
<%end%>

<br><br>

<div class="error" style="color:red">
<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>
</div>

<br><br><br><br>

<%= link_to "New User? Sign up here!", signup_path %>