<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
    <div class="content">
        <!-- top-bar start -->
        <header>
            <strong>Dive Slate</strong>

        <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
          </header>
        <!-- top-bar end -->

        <!-- main area start -->
        <div id="main">
            <h2><%= @diveshop.name %></h2>
            <h4>Address: <%= @diveshop.address %></h4>
        </div>
      </div>
    </body>
</html>
