<%= stylesheet_link_tag"application.css"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Dive Slate</title>
    </head>

    <body>
        <!-- top-bar start -->
        <div id="header">
            <strong>Dive Slate</strong>
        </div>

        <div id="topbarmenu">
            <%= link_to "Dashboard", dives_path %>
            <%= link_to @user.username, user_path(@user) %>
            <%= link_to "Logout", logout_path, method: :delete %>
        </div>
        <!-- top-bar end -->

        <!-- big button to add a new dive -->
        <div id="newlog">
            <h4>My Dive Count: <%= @user.total_dives %></h4>
            <h4><%= link_to "Log a New Dive", dives_path %></h4>
        </div>

        <!-- main area start, shows current user's dives -->
        <div id="main">
            <ul>
                <% @user.dives.each do |dive| %>
                    <li>
                        <b><%= link_to dive.divesite.name, dive_path(dive) %>: </b><%=dive.description%>
                    </li>
                <% end %>
            </ul>
        </div>

        <!-- explore side bar start -->
        <div id="sideexplore">
            <h4>Explore</h4>

                <div id="topdivesites">
                    <h5>Hottest Dive Sites</h5>
                    <% for i in 0..4 %>
                        <li><%= link_to @top_divesites[i].name, divesite_path(@top_divesites[i]) %></li>
                    <% end %>
                </div>

                <div id="topdivers">
                    <h5>Diviest Divers</h5>
                    <% for i in 0..4 %>
                        <li><%= @top_divers[i].username %> with <%=@top_divers[i].total_dives%> Dives</li>
                    <% end %>
                </div>
        </div>
    </body>
</html>